body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

.box {
    background-color: white;
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
}

h1 {
    color: blue;
}

p {
    color: gray;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}